---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/layout.astro'
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')
  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  })) 
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <div class={css({ w: 'full', maxW: '5xl', mx: 'auto', px: 4, mb: 8 })}>
    <div
      class={css({
        bg: 'white',
        borderWidth: '1px',
        borderColor: 'gray.200',
        shadow: 'md',
        rounded: 'md',
        p: 6,
      })}
    >
      <h1>{entry.data.title}</h1>
      <div class={flex({ mb: 6, gap: 1 })}>
        {
          entry.data.tags.map((tag: unknown) => (
            <a
              href={`/tags/${tag}`}
              class={css({
                rounded: 'full',
                px: 3,
                py: 1,
                textStyle: 'sm',
                color: 'gray.500',
                bg: 'gray.100',
              })}
            >
              #{tag}
            </a>
          ))
        }
      </div>
      <article>
        <Content />
      </article>
    </div>
  </div>
</Layout>