article > *:first-child,
article > * + * {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 0.625rem;
  font-weight: 700;
}

article h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
}

article h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

article table {
  width: 100%;
}

article thead {
  background-color: var(--colors-gray-200);
}

article th,
article td {
  border: 1px solid var(--colors-gray-300);
  padding: 0.5rem;
}

article th {
  font-weight: 600;
  text-align: left;
}

article pre {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background: transparent;
  overflow-x: auto;
}

article pre > code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
}

article pre > code .line {
  border-left: 0.5rem solid transparent;
  padding: 0 0.5rem;
}
article pre > code .highlighted {
  background-color: #2e4c35;
  border-color: #469458;
}

article pre > code[data-line-numbers] {
  counter-reset: line;
}

article pre > code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  margin-right: 2rem;
  width: 1rem;
  text-align: left;
  color: #7ca2dfad;
}

article pre > code > .line::before {
  content: '';
  display: inline-block;
  width: 1rem;
  text-align: right;
}

article pre > code[data-line-numbers-max-digits='2'] > .line::before {
  width: 2rem;
}

article code[data-line-numbers-max-digits='3'] > .line::before {
  width: 3rem;
}

article [data-rehype-pretty-code-figure] {
  position: relative;
}

article [data-rehype-pretty-code-title] {
  max-width: max-content;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #1e293b;
  color: #9abcf3ec;
  padding: 0.5rem 1rem;
}
