pre.astro-code {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 1rem;
  background: transparent;
  overflow-x: auto;
}

pre.astro-code code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
}
