---
import Layout from "../layouts/Layout.astro";
import ReactComponent from "../components/react-component";
import VueComponent from "../components/vue-component.vue";
import SvelteComponent from "../components/svelte-component.svelte";
import SolidComponent from "../components/solid-component";
import PreactComponent from "../components/preact-component";
---

<Layout title="Today I Learned">
  <h1 class="text-3xl font-semibold">Today I Learned</h1>
  <ReactComponent />
  <VueComponent />
  <SvelteComponent />
  <SolidComponent />
  <PreactComponent />
</Layout>
