---
import Layout from "../layouts/Layout.astro";
import ReactComponent from "../components/ReactComponent";
import VueComponent from "../components/VueComponent.vue";
import SvelteComponent from "../components/SvelteComponent.svelte";
import SolidComponent from "../components/SolidComponent";
import PreactComponent from "../components/PreactComponent";
import AlpineComponent from "../components/AlpineComponent.astro";
import { LitComponent } from "../components/LitComponent";
---

<Layout title="Today I Learned">
  <h1 class="text-3xl font-semibold">Today I Learned</h1>
  <ReactComponent />
  <VueComponent />
  <SvelteComponent />
  <SolidComponent />
  <PreactComponent />
  <AlpineComponent />
  <LitComponent />
</Layout>