---
import Layout from "../layouts/Layout.astro";
import ReactComponent from "../components/react/ReactComponent";
import VueComponent from "../components/vue/VueComponent.vue";
import SvelteComponent from "../components/svelte/SvelteComponent.svelte";
import SolidComponent from "../components/solid/SolidComponent";
import PreactComponent from "../components/preact/PreactComponent";
import AlpineComponent from "../components/astro/AlpineComponent.astro";
import { LitComponent } from "../components/lit/LitComponent";
---

<Layout title="Today I Learned">
  <h1 class="text-3xl font-semibold">Today I Learned</h1>
  <ReactComponent />
  <VueComponent />
  <SvelteComponent />
  <SolidComponent />
  <PreactComponent />
  <AlpineComponent />
  <LitComponent />
</Layout>