---
import type { CollectionEntry } from 'astro:content'
import { flex } from '@/styled-system/patterns'
import Tag from './Tag.astro'

interface Props {
	posts: CollectionEntry<'posts'>[]
	reversed?: boolean
}

const { posts, reversed } = Astro.props

const wrapperStyle = {
	justify: 'space-around',
	minW: '100%',
	gap: 2,
	animation: 'scroll 150s linear infinite',
}

let wrapperClass = flex({
	...wrapperStyle,
})

if (reversed) {
	wrapperClass = flex({
		...wrapperStyle,
		animationDirection: 'reverse',
	})
}
---

<div class={wrapperClass}>
  {posts.map((post) => <Tag post={post} />)}
</div>