---
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'

const { post } = Astro.props
---

<div
  class={css({
    display: 'flex',
    flexDirection: 'column',
    bg: 'white',
    borderWidth: '1px',
    borderColor: 'gray.200',
    shadow: 'md',
    rounded: 'md',
  })}
>
  <div class={css({ p: 6 })}>
    <a
      href={`/posts/${post.slug}`}
      class={css({ fontSize: 'lg', fontWeight: 500 })}
    >
      {post.data.title}
    </a>
  </div>
  <div
    class={flex({
      mt: 'auto',
      gap: 4,
      p: 4,
      borderTopWidth: '1px',
      borderTopColor: 'gray.200',
    })}
  >
    {
      post.data.tags.map((tag: unknown) => (
        <a
          href={`/tags/${tag}`}
          class={css({
            rounded: 'full',
            px: 3,
            py: 1,
            textStyle: 'sm',
            color: 'gray.500',
            bg: 'gray.100',
          })}
        >
          #{tag}
        </a>
      ))
    }
  </div>
</div>
